<%- include('./partials/page3head') %>

<main>
  <section class="container">
    <section class="time">
      <h2>Verjaardag</h2>
        <div>
          <p class="birthday-empty">Vandaag is niemand jarig</p>
        </div>
    </section>

    <section class="birthday">
      <h2>Recentste Partner</h2>
      <p class="partner-name-recent"><%= data.data[0].name %></p>
      <p class="partner-time"><%= data.data[0].created_at %></p>
      <br>
      <p class="partner-link"><%= data.data[0].url %></p>
      <p class="partner-mail"><%= data.data[0].phone %></p>
      <p class="partner-mail"><%= data.data[0].email %></p>
    </section>

    <section class="partners">
      <h2>Partners</h2>   
      <div class="partner-container">
        <% data.data.forEach(function(organization) { %>
          <p class="partner-name"><%= organization.name %> <span class="since"><%= organization.created_at %></span></p> 
        <% }); %>
      </div>
    </section>
  </section>
</main>

<%- include('./partials/foot') %>